

.card-img-top{
    max-width: 300px;
    height: auto;
    margin-left: 25px;
 }
 .card-body{
    font-size: 1rem;
    margin: auto;
 }
.card {
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    margin-top: 0px;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-title {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
}

.card-text {
    margin-bottom: 1rem;
    align-content: center;
}

.card-body .btn {
    margin-top: auto; 
}
.image-holder{
    height: 300px;
}